################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProgramList.Infragistics/obj
/ProgramList.Infragistics/bin
