################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProgramList.Common/bin
/ProgramList.Common/obj
/ProgramList.TelerikPOC/bin
/ProgramList.TelerikPOC/obj
/ReferenceApp/bin
/ReferenceApp/obj
