################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ProgramList.Devx/obj
/ProgramList.Devx/bin
/DevX.PerformanceTest/obj
/DevX.PerformanceTest/bin
/DevExpressSoring/obj
/DevExpressSoring/bin
/ProgramList.DevX.Final/obj
/ProgramList.DevX.Final/bin
/ProgramList.DevX.Models/bin
/ProgramList.DevX.Models/obj
/ProgramList.DevX.ViewModels/obj
/ProgramList.DevX.ViewModels/bin
