################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProgramList.Devx/obj
/ProgramList.Devx/bin
