################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProgramList.Devx/obj
/ProgramList.Devx/bin
/DevX.PerformanceTest/obj
/DevX.PerformanceTest/bin
/DevExpressSoring/obj
/DevExpressSoring/bin
